<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
   <link rel="shortcut icon" href="{% static 'images/1.jpg' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <h1>Welcome to the Home Page</h1>
    <a href="{% url 'home' %}" target="_parent" rel="noopener noreferrer">Home</a>
    <a href="{% url 'about' %}" target="_blank" rel="noopener noreferrer">About</a>
    <a href="{% url 'contact' %}" target="_blank" rel="noopener noreferrer">Contact</a>
    <a href="{% url 'services' %}" target="_blank" rel="noopener noreferrer">Services</a>

    <a href="{% url 'products' %}" target="_blank" rel="noopener noreferrer">Products</a>

    <p>This is the home page of the DeepSeekapp2025 website.</p>
    <p>I am learning Django and it is very interesting.</p>3

    <img src="{% static 'images/1.jpg' %}" alt="">
   
    
    <img src="{% static 'images/4.jpeg' %}" alt="">


    <p>Thank you for visiting my website.</p>
</body>

</html>